body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  padding: 0px;
  max-width: 1920px;
}

.header-section {
  max-width: 1920px;
  margin: 0px auto;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  gap: 550px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}

.menu-ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.menu-ul li {
  list-style: none;
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
}

.menu-title {
  color: #0B0223;
  font-size: 45px;
  font-weight: 700;
}

.common-color {
  color: rgba(255, 66, 165, 1);
  font-size: 45px;
  font-weight: 700;
}

li.follow-us {
  padding: 12px 1rem;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  color: rgba(60, 53, 79, 1)
}

/* banner section */

.banner {
  background-image: url("assets/img/Group\ 14.png");
  background-position: left top;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-content h2 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
}

.banner-content h1 {
  font-size: 95px;
  font-weight: 800;
  line-height: .9;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  margin-bottom: 15px;
}

.icon-text {
  display: flex;
  gap: 10px;
  /* margin-top: -30px; */
}

.icon-text p {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  line-height: .3;
}

.pink-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 15px 30px;
  border: 0;
  margin-top: 40px;
}

.skyblue-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: #4EC5F7;
  padding: 15px 30px;
  border: 0;
  margin-left: 20px;
}

/* about section */
.about {
  margin: 50px 0px;
  margin-top: 0px;
  background-color: rgba(241, 68, 174, 0.03);
  padding: 50px 240px;
}

.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  text-align: right;
}

.about-content h2 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content p {
  width: 520px;
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

.know-more-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
}

.about-content h6 {
  color: #534C64;
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

.about-content h4 {
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* online games section */

.online-game {
  margin: 50px auto;
  padding: 30px 180px;
}

.online-game-content {
  text-align: center;
  margin-bottom: 20px;
}

.games-card-container {
  display: flex;
  justify-content: space-around;
}

.online-game-content h2 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.online-game-content .funny-videos {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.online-game-content>p {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.card p {
  color: #534C64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: 340px;
}

/* features section */
.feature {
  padding: 0px 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}


.feature-content {
  text-align: right;
  margin-top: 100px;
  margin-left: 119px;
}

.play-instantly {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: right;
  font-size: 3rem;
  font-weight: 700;
}

.feature-content h1 {
  width: 350px;
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
}

.feature-content p {
  width: 350px;
  color: #534C64;
  font-size: 1.13rem;
  font-weight: 400;
  line-height: 30px;
}

.small-image {
  position: relative;
  bottom: 288px;
  right: 152px;
}

.img-container {
  height: 600px;
}


/* games category section */
.games-category {
  padding: 100px 240px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
  margin-top: 130px;
}

.single-game {
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 50px;
  background: #FFF;
  border: 1px solid transparent;
  transition: .6s;
}

.single-game:hover {
  cursor: pointer;
  border: 1px solid #FF42A5;
}

.single-game p {
  color: #0B0223;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
}

.games-category-container-1 {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px 250px;
  margin-bottom: 50px;
  row-gap: 50px;
  justify-content: center;
}

#game6,
#game7,
#game8,
#game9 {
  margin-left: 100px;
  width: 250px;
}



/* footer section */
.footer {
  background: #0B0223;
  color: #FFF;
}

.footer-section {
  padding: 120px 500px;
}

.footer-menu-title {
  color: #FFF;
  font-size: 45px;
  font-weight: 700;
}

.logo-container {
  margin-left: 80px;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.logo-container img {
  width: 80px;
  height: 40px;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
}

.footer-menu h6 {
  font-size: 18px;
  font-weight: 600;
}

.footer-icon {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
}

.footer-policy {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer-icon .twitt,
.footer-icon .face,
.footer-icon .linked,
.footer-icon .apple,
.footer-icon .you,
.footer-icon .insta {
  font-size: 30px;
  color: #fff;
}

.footer-policy {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.footer-copyright {
  text-align: center;
  color: rgba(255, 255, 255, 0.60);
  font-size: 16px;
  font-weight: 500;
}

/* End End End */



@media screen and (max-width: 576px) {
  .banner-section {
    flex-direction: column-reverse;
    padding: 50px 0px;
  }

  .banner {
    max-width: 570px;
  }

  .nav-menu {
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
    max-width: 570px;
  }

  .menu-ul {
    flex-direction: column;
  }

  .banner-img {
    background-color: white;
    margin: 0 auto;
    width: 80%;
  }

  .banner-img img {
    width: 100%;
  }

  /* about section */
  .about {
    max-width: 570px;
    margin: 30px 0px;
    padding: 50px 20px
  }

  .about-section {
    flex-direction: column;
  }

  .about-img img {
    width: 100%;
  }

  .about-content {
    text-align: center;
  }

  /* online game section */

  .online-game {
    margin: 50px auto;
    padding: 10px 10px;
    margin-bottom: 0px;
  }

  .games-card-container {
    flex-direction: column;
    align-items: center;
  }

  /* features section */
  .feature {
    padding: 0px 0px;
    flex-direction: column;
    margin-top: -100px;
  }

  .feature-content {
    text-align: center;
    margin-left: 10px;
  }

  .small-image img {
    width: 160px;
  }

  .small-image {
    position: relative;
    bottom: 150px;
    left: -83px;
  }

  .img-container {
    padding: 0px 30px;
    height: 600px;
  }

  .img-container>img {
    height: 350px;
  }

  /* games category section */

  .games-category {
    padding: 10px 10px;
    margin-top: -100px;
  }

  .games-category-container-1 {
    grid-template-columns: 150px 150px 150px;
    justify-content: center;
    justify-items: end;
  }

  .single-game {
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid transparent;
    transition: .6s;
  }

  .single-game p {
    color: #0B0223;
    font-size: 13px;
    font-weight: 400;

  }


  /* footer section */

  .logo-container {
    margin-left: 0px;
  }

  .footer-section {
    padding: 20px 20px;
  }

  .footer-menu {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    line-height: .2;
  }

  .footer-icon {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    margin-top: 50px;
  }

  .footer-policy {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 5px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .footer-copyright {
    margin-top: 30px;
    width: 300px;
    margin: 0 auto;
  }

}