body {
  font-family: 'Work Sans', sans-serif;
}

.header-section {
  max-width: 1440px;
  margin: 20px auto;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 86.041px;
  height: 40px;
  margin-right: 20px;
}

.menu-ul {
  display: flex;
  gap: 30px;
}

.menu-ul li {
  list-style: none;
  color: #3C354F;
  font-size: 18px;
  font-weight: 500;
}

.menu-title {
  color: #0B0223;
  font-size: 45px;
  font-weight: 700;
}

.common-color {
  color: rgba(255, 66, 165, 1);
  font-size: 45px;
  font-weight: 700;
}

.follow-us {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  color: rgba(60, 53, 79, 1)
}

/* banner section */

.banner {
  background-color: rgba(241, 68, 174, 0.03);
  margin: 50px 0px;
  margin-bottom: 0px;
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-content h2 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 600;
}

.banner-content h1 {
  font-size: 95px;
  font-weight: 800;
  line-height: .9;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5px;
  margin-bottom: 15px;
}

.icon-text {
  display: flex;
  gap: 10px;
  /* margin-top: -30px; */
}

.icon-text p {
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
  line-height: .3;
}

.pink-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 15px 30px;
  border: 0;
  margin-top: 40px;
}

.skyblue-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: #4EC5F7;
  padding: 15px 30px;
  border: 0;
  margin-left: 20px;
}

/* about section */
.about {
  margin: 50px 0px;
  margin-top: 0px;
  background-color: rgba(241, 68, 174, 0.03);
  padding: 50px 240px;
}

.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-content {
  text-align: right;
}

.about-content h2 {
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-content p {
  width: 520px;
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 5px;
}

.know-more-btn {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 15px 30px;
  border: 0;
  margin-top: 30px;
}

.about-content h6 {
  color: #534C64;
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
}

.about-content h4 {
  color: #534C64;
  font-size: 32px;
  font-weight: 700;
  line-height: 45px;
}

/* online games section */

.online-game {
  margin: 50px auto;
  padding: 30px 180px;
}

.online-game-content {
  text-align: center;
  margin-bottom: 20px;
}

.games-card-container {
  display: flex;
  justify-content: space-around;
}

.online-game-content h2 {
  color: #0B0223;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.online-game-content .funny-videos {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}

.online-game-content>p {
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
}

.card p {
  color: #534C64;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: 340px;
}








@media screen and (max-width: 576px) {
  .banner-section {
    flex-direction: column-reverse;
    padding: 50px 0px;
  }

  .banner {
    width: 570px;
  }

  .nav-menu {
    flex-direction: column;
    width: 570px;
  }

  .menu-ul {
    flex-direction: column;
  }

  .banner-img {
    background-color: white;
    margin: 0 auto;
    width: 570px;
  }

  .banner-img img {
    width: 100%;
  }

}

@media screen and (min-width: 576px) and (max-width: 768px) {
  .skyblue-btn {
    background-color: red;
  }
}